.bg-dominant {
    background-color: var(--color-dominant);
}

.bg-complement {
    background-color: var(--color-complement);
}

.bg-contrast {
    background-color: var(--color-contrast);
}

.text-white {
    color: var(--color-dominant);
}

.text-dominant {
    background-color: var(--color-dominant);
}

.text-complement {
    background-color: var(--color-complement);
}

.text-contrast {
    background-color: var(--color-contrast);
}

.text-accent {
    background-color: var(--color-accent);
}

.shadow-high {
    box-shadow: 0 0 1rem;
}

.shadow-low {
    box-shadow: 0 0 .5rem;
}